<div class="container">
	<h2 class="title">Клиенты</h2>
	<div class="clients-list">
		<div class="toolbar">
			<add-icon class="icon" (click)="openAddClientDialog()"></add-icon>
			<delete-icon	class="icon" 
							[class.disabled]="selectedClients.length === 0"
							(click)="openDeleteClientDialog()">
			</delete-icon>
		</div>
		<div class="client-item client-item-header">
			<div class="column">
				<checkbox 	[checked]="allSelected"
							[indeterminate]="isIndeterminate"
							(stateChange)="handleHeaderCheckboxChange($event)">
				</checkbox>
			</div>
			<div class="column">
				<span appSort [field]="'name'" class="clickable" (sortChanged)="onSortChanged($event)">Имя</span>
			</div>
			<div class="column clickable">
				<span appSort [field]="'surname'" class="clickable" (sortChanged)="onSortChanged($event)">Фамилия</span>
			</div>
			<div class="column clickable align-end">
				<span appSort [field]="'email'" class="clickable" (sortChanged)="onSortChanged($event)">E-mail</span>
			</div>
			<div class="column clickable align-end">
				<span appSort [field]="'phone'" class="clickable" (sortChanged)="onSortChanged($event)">Телефон</span>		
			</div>
		</div>
		<div class="clients">
			<ng-container *ngFor="let client of sortedClients">
				<ng-container *ngTemplateOutlet="row; context: { client: client }" ></ng-container>
			</ng-container>
		</div>
	</div>
</div>

<ng-template #row let-client="client">
	<div class="client-item" [ngClass]="{'client-item-selected': client.selected}">
		<div class="column">
			<checkbox 	[(checked)]="client.selected"
						(checkedChange)="updateHeaderCheckboxState()">
			</checkbox>
		</div>
		<div class="column">
			<span class="clickable editable" (click)="openEditClientDialog(client)">{{ client.name }}</span>
		</div>
		<div class="column">
			<span>{{ client.surname }}</span>
		</div>
		<div class="column align-end">
			<span>{{ client.email }}</span>
		</div>
		<div class="column align-end">
			<span>{{ client.phone }}</span>
		</div>
	</div>
</ng-template>