// background
$background-color: #E9F3FF;
$light-background-color: #FFFFFF;

// buttons
$button-primary-color: #2F67D5;
$button-primary-hover-color: #3C7CF8;
$button-primary-active-color: #194EB6;
$button-primary-disabled-color: #D8DEE9;

$button-secondary-primary-color: transparent;
$button-secondary-hover-color: rgba(#3C7CF8, 0.1);
$button-secondary-active-color: rgba(#194EB6, 0.2);

$button-toolbar-icon-color: #304879;
$button-toolbar-disable-color: #A8B0BF;
$button-toolbar-hover-color: #E2EEFF;
$button-toolbar-active-color: #B5D3FF;
// text
$text-light-color: #FFFFFF;
$text-primary-color: #2F67D5;
$text-dark-color: #000000;
$text-header-color: #2F4C97;
$text-title-color: #2F7FD5;
$text-hover-color: #295DC7;

// borders
$border-color: #BBC5C9;
$border-primary-color: #2F7FD5;
$border-filled-color: #505662;
$border-error-color: #DA1B1B;
$border-row-color: #ABABAC;
$border-checkbox-color: #DADADA;

$item-selected-color: #E9F0FF;
$item-hover-color: rgba(#8FAFFF, 0.08);

$checkbox-color: #4A95F7;